.background {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;

}

.login-form {
    padding-top: 50%;
}

.tableScreen {
    padding-top: 100px;
}

.titlefont {
    font-size: 2rem;
    color: white;
}

.button-add {
    margin-bottom: 15px;
}